body{font-family: gotham;
    font-style: normal;
font-size: 20;
color: rgb(2, 27, 37);
margin: -10px!important;

padding: 70px;
padding-top:0px;
text-align: justify;
position: absolute;
font-weight: 300;
margin-top: 100px;
}

h2{
font-size: 2.1rem!important;
}

.botonlink {
    font: bold 20px gotham;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }