<div>
    <!--Aqui va el small test -->
    <h1>MAIN MENU</h1>
    <h3>How are you feeling today?</h3>
    <div class="input-field col s12">
        <mat-form-field>
            <select matNativeControl required>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </mat-form-field>

    </div>
</div>

<div>
    <!--Aqui va el how about -->
    <h3>How about</h3>
    <p>
        <!-- AQUI HAY QUE PONERLE BORDE CON CSS-->
        <!-- {{currentActivity.about}} -->
    </p>

</div>


<div>
    <!--Aqui va el Atc. Recomendadas -->
    <h3>Recommended Activities</h3>
    <section class="container">
        <div class="row">
            <div id="boton1" class="grid-example col s6 m6"><a class="waves-effect waves-light btn-large" href="./homeactividades.html"><span
                        class="flow-text"></span>coffe ritual</a>
            </div>
            <div id="boton2" class="grid-example col s6 m6"><a class="waves-effect waves-light btn-large" href="./homeactividades.html"><span
                        class="flow-text"></span>walking</a>
            </div>

        </div>

        <div class="row">
            <div id="boton3" class="grid-example col s6 m6"><a class="waves-effect waves-light btn-large" href="./homeactividades.html"><span
                        class="flow-text"></span>soothing space</a>
            </div>
            <div id="boton4" class="grid-example col s6 m6"><a class="waves-effect waves-light btn-large" href="./homeactividades.html"><span
                        class="flow-text"></span>yoga</a>
            </div>
        </div>

    </section>
</div>